Repository hub-usp-inovacao/platform, pull requests merged in 2023-04, with the labels that each got.

#145 Add unpublished sensitive data alert
  frontend/components/CompanyForms/companyStep/Finance.vue
  frontend/components/CompanyForms/companyStep/Investments.vue
  frontend/components/CompanyForms/companyStep/Staff.vue
Labels: frontend, formulário-atualização, review

#154 Fix reloading on enter key press at company update token submit
  frontend/pages/empresas/atualizar/index.vue
Labels: bug, review

#123 AUSPIN bar layout and style fixes
  frontend/components/UniversalAuspinBar.vue
  frontend/layouts/default.vue
Labels: frontend, review

#150 Add a new field "size" and create tests for it
  backend/app/models/company_datum.rb
  backend/app/views/application_mailer/confirmation_company_update.html.erb
  backend/spec/models/company_datum_spec.rb
  frontend/components/CompanyForms/companyStep/Base.vue
  frontend/components/CompanyForms/inputs/Dropdown.vue
  frontend/store/company_forms/company_data.js
Labels: backend-rails, formulário-atualização, review

#153 Add "registry status" company field with tests
  backend/app/models/company_datum.rb
  backend/app/views/application_mailer/confirmation_company_update.html.erb
  backend/spec/models/company_datum_spec.rb
  frontend/components/CompanyForms/companyStep/Base.vue
  frontend/store/company_forms/company_data.js
Labels: backend-rails, formulário-atualização, review
