Repository hub-usp-inovacao/platform, pull requests merged in 2023-10, with the labels that each got.

#196 Fix logo upload technical debt
  backend/app/controllers/company_updates_controller.rb
  backend/app/models/about_company.rb
  backend/config/routes.rb
  frontend/components/CompanyForms/companyStep/About.vue
  frontend/plugins/services/update_company.js
  frontend/store/company_forms/about.js
  frontend/store/company_forms/index.js
Labels: backend-rails, formulário-atualização, review, technical-debt

#194 Update partner's NUSP to accept only numerical values
  backend/app/models/partner.rb
  backend/spec/models/partner_spec.rb
  frontend/components/CompanyForms/inputs/NumberInput.vue
Labels: bug, frontend, backend-rails, formulário-atualização, review

#183 add sensitive data field to company model
  backend/app/models/company.rb
  backend/app/models/investment.rb
  backend/spec/models/company_spec.rb
  backend/spec/models/investment_spec.rb
  backend/spec/requests/company_spec.rb
  backend/spec/requests/company_updates_spec.rb
  frontend/components/CompanyForms/companyStep/Finance.vue
  frontend/components/CompanyForms/companyStep/Investments.vue
  frontend/store/company_forms/investment.js
  frontend/store/company_forms/revenue.js
Labels: review
